# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
instance/
.env
.env.*

config_email.py
foaie_parcurs.xlsx
*.env
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Other
*.bak
*.swp
*.swo
